---
import BaseLayout from "../layouts/BaseLayout.astro";
import { BlogPosts } from "../content/blogs";
import Container from "../components/Container.astro";
---

<BaseLayout
	title="Blogs"
	meta={{
		url: "/blogs",
		description:
			"Technical articles and musings related to software engineering",
	}}
>
	<Container>
		<section class="py-14">
			<div class="grid grid-cols-2 gap-6">
				{
					BlogPosts.map((p) => (
						<a
							href={`/blogs/${p.id}`}
							class="w-full p-4 bg-gray-100 rounded hover:bg-gray-200"
						>
							<div>
								<h4 class="text-gray-900 text-lg font-semibold">
									{p.title}
								</h4>
								<p class="text-gray-600">{p.desc}</p>
								<p class="text-sm text-gray-600">{p.date}</p>
								{p.tags.map((t) => (
									<span class="bg-gray-200 rounded px-3 py-1 text-sm">
										{t.name}
									</span>
								))}
							</div>
						</a>
					))
				}
			</div>
		</section>
	</Container>
</BaseLayout>
